/* Start Variables */

:root{
    --transition:0.3s;
}

/* End Variables */

/* Start Global Rules  */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules  */

/* Start Header */

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 70px;
}
.header .logo img {
    max-width: 100%;
}

.header .links{
    position: relative;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
background-color: black;
width: 100%;
height: 2px;
transition: var(--transition);
 }
 .header .links .icon span:not(:last-child){
    margin-bottom: 5px;
 }
  .header .links .icon span:nth-child(2){
    width: 50%;
  }
  .header .links .icon:hover span:nth-child(2){
    width: 100%;
  }


.header .links ul{
    top: calc(100% + 20px);
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    min-width: 180px;
    background-color: #f6f6f6;
    display: none;
}
.header .links ul:before{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 5px;
    top: -19px;
}
.header .links:hover ul{
    display: block;
}

.header .links ul li{
    padding: 15px;
    transition: var(--transition);
}
.header .links ul li a{
    text-decoration: none;
}
.header .links ul li:hover{
    padding-left: 30px;
}
/* End Header */